.cell_list_cell_container{
    position: relative;
}
.cell_list_cell_container .top_buttons{
    position: absolute;
    /* background-color: #1c1c1c; */
    color: white;
    right: 0;
    top: .2rem;
    right: .2rem;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.3;
    transition: opacity .3s ease-in-out;
    /* width: 10%; */
}

.cell_list_cell_container .top_buttons:hover{
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.top_buttons span{
    margin: 0 0.1rem;
    /* background-color: #1c1c1c; */
    border-radius: 50%;
    font-size: 110%;
    padding: 0.1rem;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
}