body{
    background-color: #1c1c1c;
}

iframe {
    background-color: "white";
}

.react-resizable{
    position: relative;
}

.code_cell .react-resizable{
    display: flex;
    flex-direction: row;
    align-items: center;
}